.nav {
    color: #3359DB;
    font-size: 20px;
    height: 50px;
    background-color: #ecebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
}