<div>
  <app-navbar></app-navbar>
  <div class="team-view">
    <div class="left-pane">
      <app-team-member-view
        *ngFor="let member of teamMembers"
        [member]="member"
        (deletedMember) ="deleteMember($event)"
        (selectedMember) ="selectMember($event)"
      >
      </app-team-member-view>
    </div>
    <div class="right-pane">
            <form class="form-container">
                <mat-form-field>
                    <input matInput #memberName placeholder="Team Member Name">
                </mat-form-field>
                <button (click)="addMember(memberName.value)" mat-button>Add Member</button>
              </form>
    </div>
  </div>
</div>
