@font-face {
    font-family: 'Digital-7';
    font-weight: 300;
    src: url('../../../assets/fonts/digital-7.ttf');
  }

.mat-card {
    cursor: pointer;
    margin-bottom: 10px;
    border: 1px solid rgb(170, 168, 168);
    width: 70%;
}
.mat-card-content {
    font-family: "DIN Pro";
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.88px;
    color: #3359DB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
        margin: 0;
        width: 200px;
    }
}
.timer {
    font-size: 40px;
    font-family:'Digital-7';
}
.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .delete-button {
        color: red;
        margin-left: 20px;
    }
    .mat-icon {
        font-size: 30px;
        margin-right: 5px;
    }
}